* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter-Regular";
}
a {
  text-decoration: none;
}
ul,
li {
  list-style-type: none;
}
header {
  width: 100%;
  height: 100%;
}
.headerContent {
  width: 100%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.logo {
  display: flex;
  width: 150px;
  height: 46px;
  padding: 1px 23.786px 1px 0px;
  align-items: center;
  justify-content: center;
  gap: 6.214px;
}
.shoppinglogo img {
  width: 44px;
  height: 44px;
}
.search {
  width: 666px;
  border: 3px solid #0067ff;
  border-radius: 5px;
  display: flex;
}
#search {
  width: 421px;
  height: 40px;
  border: none;
  border-right: 3px solid #0067ff;
}
#options {
  width: 145px;
  height: 40px;
}
.search button {
  width: 100px;
  height: 40px;
  background-image: linear-gradient(#127fff, #0067ff);
  border: none;
  border-radius: 5px;
  color: white;
}
.profileInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.profileInfo p {
  color: #8b96a5;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.profileInfo img {
  width: 20px;
  height: 20px;
}
nav {
  width: 100%;
  height: 56px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 291px;
  box-shadow: 0 0 1px 1px #e0e0e0;
}
.navMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 28px;
}
.catBtn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.navBtn {
  background: none;
  border: none;
}
.dropdown {
  display: inline-block;
  position: relative;
}
.navMain a,
p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  color: #1c1c1c;
}
.help {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
}
.currency {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
#currency {
  border: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
.shipping {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.shipTo {
  background-color: #fff;
  color: #000;
  border: none;
}
.shippingMenu {
  display: none;
  min-width: 200px;
  padding: 10px;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  font-size: 16px;
  text-align: left;
  list-style: none;
  background-color: #fefafa;
  border: 1px solid #d0c8c8;
  border-radius: 10px;
  box-shadow: 0 2px 2px #070707;
}
.shippingMenu li {
  margin: 0;
  padding: 0;
}
.shippingMenu li a {
  display: block;
  padding: 5px 20px;
  color: #070707;
  text-decoration: none;
}
.shippingMenu li a:hover {
  background-color: #fefafa;
}
.shippingMenu li a img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.shippingMenu li a span {
  margin-right: 10px;
}
.shipping:hover .shippingMenu {
  display: block;
}
.flagsImages {
  width: 30px;
}
/* Main and Sections */
main {
  max-width: 1440px;
  width: 100%;
}
.mainCard {
  max-width: 1180px;
  width: 100%;
  margin: 20px auto;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  border: 1px solid #dee2e7;
  border-radius: 5px;
}
.sideBar {
  max-width: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  height: 100%;
}
.sideBar a {
  padding: 6px 14px;
  color: #1c1c1c;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.sideBar a:hover {
  background-color: #e5f1ff;
  border-radius: 8px;
}
.mainImg {
  max-width: 664px;
  min-height: 373px;
  width: 100%;
  height: 100%;
  background-image: url(./images/Banner-board-800x420\ 2.png);
  background-repeat: no-repeat;
  padding: 56px 0 0 44px;
}
.mainImg h1 {
  color: #1c1c1c;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.mainImg h2 {
  color: #1c1c1c;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.mainBtn {
  background-color: #ffffff;
  color: #1c1c1c;
  height: 40px;
  padding: 0px 16px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 17px;
  text-align: center;
}
.offers {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  width: 100%;
  padding-left: 20px;
}
.offersInfo {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  width: 100%;
  background-color: #e3f0ff;
  border-radius: 5px;
}
.user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 14px auto;
  gap: 9px;
}
.user > p {
  color: #1c1c1c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.join {
  margin: auto;
  width: 180px;
  height: 30px;
  padding: 0px 10px;
  border-radius: 6px;
  border: none;
  background: linear-gradient(#127fff, #0067ff);
  color: #ffffff;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
}
.logIn {
  border: none;
  background-color: #ffffff;
  color: #0d6efd;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  margin: 7px auto 12px;
  width: 180px;
  height: 30px;
  padding: 0px 10px;
  text-align: center;
  border-radius: 6px;
}
.off {
  background-color: #f38332;
  border-radius: 6px;
  max-width: 200px;
  width: 100%;
  height: 95px;
  margin-top: 10px;
  padding: 16px 40px 22px 16px;
}
.off > p {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.quotes {
  background-color: #55bdc3;
  border-radius: 6px;
  max-width: 200px;
  width: 100%;
  height: 95px;
  margin-top: 10px;
  padding: 16px 44px 22px 16px;
}
.quotes > p {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.deal-offer {
  max-width: 1180px;
  width: 100%;
  height: 240px;
  margin: 0 auto;
  border: 1px solid #dee2e7;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.dates h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.2px;
  color: #1c1c1c;
}
.dates > p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #8b96a5;
}
.dates {
  max-width: 281px;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e0e0e0;
}
.date {
  display: flex;
  gap: 5px;
}
.box {
  width: 45px;
  height: 50px;
  border-radius: 4px;
  background: #606060;
  text-align: center;
  margin-top: 18px;
}
.txtBox {
  padding-top: 8px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}
.time {
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.dealItems {
  text-align: center;
  max-width: 179px;
  width: 100%;
  height: 100%;
  border-right: 1px solid #e0e0e0;
}
.dealItems > img {
  width: 140px;
  height: 140px;
  padding: 9.333px 19.289px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.dealItemtxt {
  color: #1c1c1c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.sale {
  border-radius: 29px;
  background-color: #ffe3e3;
  width: 62px;
  height: 28px;
  padding: 6px 6px;
  margin: 0 auto;
  color: #eb001b;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.2px;
}
.saleItem {
  margin-top: 20px;
}
.saleItemholder {
  max-width: 1180px;
  width: 100%;
  height: 257px;
  margin: 0 auto;
  border: 1px solid #dee2e7;
  display: flex;
  align-items: center;
}
.saleTitle {
  max-width: 388px;
  width: 100%;
  max-height: 260px;
  height: 100%;
  position: relative;
}
.saleTitle > img {
  max-width: 388px;
  width: 100%;
  max-height: 260px;
  height: 100%;
  object-fit: cover;
}
.sale-title {
  width: 154px;
  position: absolute;
  top: 20px;
  left: 22px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.sale-title > h4 {
  color: #1c1c1c;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.2px;
}
.sourceBtn {
  width: 100%;
  border-radius: 6px;
  background-color: #ffffff;
  height: 40px;
  padding: 0px 16px;
  border-radius: 6px;
  border: 1px solid #fff;
  box-shadow: 0px 1px 2px 0px rgba(56, 56, 56, 0.08);
}
.sale-item {
  max-width: 792px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #dee2e7;
}
.saleCard {
  max-width: 197px;
  width: 100%;
  height: 127px;
  position: relative;
  border-bottom: 1px solid #dee2e7;
  border-right: 1px solid #dee2e7;
}
.saleCard > img {
  width: 66.693px;
  height: 69.244px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.saleCardtxt {
  position: absolute;
  left: 16px;
  top: 20px;
}
.saleTxt {
  color: #1c1c1c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.salePrice {
  color: #8b96a5;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.opinion {
  max-width: 1440px;
  width: 100%;
  margin-top: 10px;
}
.opinionCard {
  position: relative;
  max-width: 1180px;
  width: 100%;
  height: 445px;
  margin: 0 auto;
  background-image: url(./images/image\ 102.png),
    linear-gradient(to right, #2c7cf1 0%, rgba(0, 209, 255, 0.5) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.opinionTxt {
  width: 440px;
  position: absolute;
  top: 51px;
  left: 49px;
}
.opinionTxt > h2 {
  color: #ffffff;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.2px;
}
.opinionTxt > p {
  padding-top: 13px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}
form {
  position: absolute;
  right: 31px;
  top: 41px;
  width: 491px;
  height: 346px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
form > h4 {
  color: #1c1c1c;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.2px;
  padding-left: 20px;
  padding-top: 22px;
}
.formRow {
  padding-left: 20px;
  margin-top: 20px;
}
.formRow > textarea,
input {
  width: 440px;
  border-radius: 3px;
}
textarea {
  min-height: 73px;
}
#need {
  height: 40px;
}
input::placeholder {
  color: #1c1c1c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 10px;
}
textarea::placeholder {
  color: #8b96a5;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.quantity {
  padding-left: 20px;
  padding-top: 20px;
  display: flex;
  gap: 8px;
}
label {
  border: 1px solid #dee2e7;
  border-radius: 3px;
  display: inline-block;
  width: 206px;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  color: #1c1c1c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
#quantity {
  width: 111px;
  height: 40px;
  border: 1px solid #dee2e7;
  border-radius: 3px;
  color: #1c1c1c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.submit {
  width: 96px;
  height: 40px;
  border: none;
  margin: 20px;
  border-radius: 6px;
  background: linear-gradient(180deg, #127fff 0%, #0067ff 100%);
  color: #ffffff;
  font-weight: 500;
}
.recommended > h3 {
  color: #1c1c1c;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.2px;
  padding-left: 120px;
}
.recomItems {
  max-width: 1180px;
  width: 100%;
  margin: 27.35px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.recomCard {
  max-width: 211px;
  width: 100%;
  min-height: 310px;
  height: 100%;
  border: 1px solid #e0e0e0;
}
.recomCard > img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  padding: 14.222px 24.889px 15.111px 24.889px;
}
.recomTxt {
  padding-left: 16.01px;
  padding-bottom: 8.86px;
}
.recomTxt:nth-child(2) {
  color: #8b96a5;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.recomTxt:first-child {
  color: #1c1c1c;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
.recommended {
  margin-top: 15px;
}
.services > h3 {
  color: #1c1c1c;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.2px;
  padding-left: 120px;
}
.serviceHolder {
  max-width: 1180px;
  width: 100%;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.serviceCard {
  max-width: 270px;
  width: 100%;
  max-height: 200px;
  height: 100%;
  border: 1px solid #e0e0e0;
  position: relative;
}
.serviceImg {
  max-width: 270px;
  width: 100%;
  max-height: 200px;
  height: 100%;
  object-fit: contain;
}
.iconBorder {
  position: absolute;
  bottom: 53px;
  right: 21px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #d1e7ff;
  z-index: 1;
}
.icon {
  position: absolute;
  bottom: 68px;
  right: 36px;
  z-index: 2;
}
.serviceTxt {
  color: #1c1c1c;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  max-width: 175px;
  width: 100%;
  margin: 20px 0 20px 20px;
}
.services {
  margin-top: 30px;
}
.supplier h3 {
  color: #1c1c1c;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.2px;
  padding-left: 120px;
}
.supplierCard {
  max-width: 1180px;
  width: 100%;
  margin: 24px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.supLink {
  max-width: 221px;
  width: 100%;
  max-height: 36px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 11px;
}
.supLink > img {
  width: 28px;
  height: 20px;
  object-fit: contain;
}
.supName > a {
  color: #8b96a5;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.supName > p {
  color: #1c1c1c;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.subscribe {
  max-width: 1440px;
  width: 100%;
  margin-top: 46px;
  min-height: 190px;
  height: 100%;
  background: #eff2f4;
  margin: 38px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subscribe h4 {
  color: #1c1c1c;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.2px;
}
.subscribe p {
  color: #606060;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.subForm {
  height: 40px;
  position: relative;
}
.sub {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.sub > input {
  width: 274px;
  height: 40px;
  border: none;
  border-radius: 6px;
}
.sub > input:placeholder {
  padding-left: 36px;
  color: #8b96a5;
  font-size: 16px;
  font-weight: 400;
}
.mailImg {
  position: absolute;
  top: 9px;
  left: 8px;
}
.subBtn {
  background: linear-gradient(180deg, #127fff 0%, #0067ff 100%);
  height: 40px;
  border: none;
  padding: 0px 16px;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.footer {
  max-width: 1180px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 61px;
}
.socials {
  max-width: 276px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 59px;
}
.socImg {
  width: 126px;
  height: 44px;
  object-fit: contain;
}
.socials > p {
  color: #505050;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.footCard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 3px;
}
.socIcon {
  width: 32px;
  height: 32px;
  object-fit: contain;
}
.footCard > p {
  color: #1c1c1c;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
.footCard > a {
  color: #8b96a5;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.copyright {
  width: 100%;
  height: 68px;
  border-top: 1px solid #dee2e7;
  background: #eff2f4;
  display: flex;
  align-items: center;
  padding-left: 128px;
  gap: 749px;
}
